.glb-header {
  width: 100%;
  height: 190px;
  padding: 70px 0 0 50px;
  font-family: Ubuntu;
  text-transform: uppercase;
  color: $background-color-light;
  background-image: url('./../imgs/header-bg.jpg');
  background-size: cover;
  background-position: center bottom;
  border-radius: $border-radius;
}

.glb-button {
  width: fit-content;
  padding: 10px 30px;
  font-family: Ubuntu;
  font-size: 14px;
  color: $background-color-light;
  background: $primary-color;
  background-image: linear-gradient(45deg,  $primary-color 0%,  $primary-color 100%);
  border-radius: $border-radius;
  transition: 1s ease-in-out;
  position: relative;
  z-index: 0;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary-color-light;
    background-image: linear-gradient(45deg,  $primary-color 0%,  $primary-color-light 100%);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    z-index: -1;
    transition: $transition;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }

  &.button-disabled {
    opacity: .2;
    cursor: default;
    pointer-events: none;
  }
}

.glb-radio {
  display: flex;
  align-items: baseline;
  cursor: pointer;

  input {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    outline: max(2px) solid $primary-color-light;
    outline-offset: max(2px);
    transition: $transition;
    cursor: pointer;

    &:checked {
      background: $secondary-color-light;
      outline-color: $primary-color;
      box-shadow: $box-shadow;

      & + label {
        color: $primary-color;
        transition: $transition;
        font-weight: bold;
      }
    }
  }

  label {
    color: $primary-color-light;
    cursor: pointer;
  }
}

.glb-input {
  padding: 8px 10px;
  border-radius: $border-radius;
  border: 2px solid $primary-color-light;
  transition: $transition;
  color: $primary-color;
  outline: none;
  font-weight: bold;
  font-size: 14px;

  &:focus {
    border-color: $primary-color;
    box-shadow: $box-shadow;
  }

  &::placeholder {
    font-size: 11px;
    color: $primary-color-light;
    font-weight: normal;
    font-family: Amiko;
  }
}