/* imports */

@import './global.scss';

/* all */


html {
  scroll-behavior: smooth;
  background: #e6e9f2;
}

html,
body {
  overscroll-behavior: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  /* WebKit (Chrome, Safari) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

button {
  border: none;
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill-rule: evenodd;
  clip-rule: evenodd;
}