$primary-color: #618B7D;
$primary-color-light: #98C5B6;
$primary-color-dark: #205A47;

$secondary-color: #FAB5A6;
$secondary-color-light: #FDC8BD;
$secondary-color-dark: #BB948C;

$accent-color: #94B77F;
$accent-color-light: #BCDBA9;
$accent-color-dark: #75896A;

$background-color: #F3F4F6;
$background-color-light: #F1F1F1;
$background-color-dark: #000000;

$reserve-color: #627588;
$reserve-color-light: #9BAFC3;
$reserve-color-dark: #515B66;
$reserve-color-1: #FAD2A6;
$reserve-color-2: #9CC0CE;
$reserve-color-3: #C0EDD1;

$gradient-color-1: #839486;
$gradient-color-2: #989A8C;
$gradient-color-3: #AFA092;
$gradient-color-4: #C6A698;
$gradient-color-5: #E1AE9F;


